  body
{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    background-color: silver;
}

.container
{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    background-color: white;
}

.container .left
{
    float: left;
    width: 40%;
    height: 200px;
   background-size: cover;
   box-sizing: border-box;
}

.container .right
{
  float: left;
    width: 60%;
    height: 200px;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
}

.all{
  margin: 0;
    padding: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0.4;
  height: 800px;
  width: 100%;
  position: fixed;
}


.nav{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

ul {
 padding: 0px;
 list-style: none;
 font-family: arial;
}

ul li {
 float: left;
 width: 200px;
 height: 100 px;
 background-color: black;
 opacity: .5;
 line-height: 50px;
 text-align: center;
 font-size: 30px;
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
}

ul li a:hover {
 background-color: green;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}
