	body
{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

.container
{
    width: 100%;
    height: 200px;
    background: white;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.container .left
{
    float: left;
    width: 40%;
    height: 200px;
   background-size: cover;
   box-sizing: border-box;
}

.container .right
{
	float: left;
    width: 60%;
    height: 200px;
	background-size: cover;
	box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
}

.descriere{
	width: 80%;
	height: 250;
	float: left;
	padding: 0 auto;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
}

.recomandare{
	float: left;
    width: 100%;
    height: 300px;
	background-color: silver;
	opacity: 0.5;
}

.recomandare .recomandareleft{
	float: left;
    width: 24.5%;
    height: 156px;
	background-color: white;
	margin-top: 75px;
	margin-bottom: 65px;
	margin-left: 15%;
	margin-right: 10%;
	border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.recomandare .recomandareright{
	float: left;
    width: 24.5%;
    height: 156px;
	margin-top: 75px;
 border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
	margin-bottom: 65px;
	background-color: white;
	margin-right: 15%;
	margin-left: 10%
}


.nav{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

ul {
 padding: 0px;
 list-style: none;
 font-family: arial;
}

ul li {
 float: left;
 width: 200px;
 height: 100 px;
 background-color: black;
 opacity: .5;
 line-height: 50px;
 text-align: center;
 font-size: 30px;
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
}

ul li a:hover {
 background-color: green;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

